
.button {
  @include t(body-1);
  font-weight: 600;
  border-radius: var(--radius-sm);
  border: 1px solid transparent;
  padding: 0.7rem var(--spacing-lg);
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.primary {
    background-color: var(--color-accent);
    color: var(--color-background);

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: var(--color-accent);
    color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent-muted);
    }
  }
}
