.tabs {
  display: flex;
  align-items: center;
  gap: 2px;

  &__button {
    @include t(body-1);
    padding: var(--spacing-md);
    background-color: var(--color-background-muted);
    border: 1px solid transparent;
    color: var(--color-foreground-disabled);
    cursor: pointer;
    position: relative;
    margin-bottom: -2px;
    transition: background-color 0.2s;

    @include mq(md) {
      padding: var(--spacing-md) var(--spacing-lg);
    }

    &:first-child {
      border-top-left-radius: var(--radius-sm);
    }

    @media (hover: hover) {
      &:hover {
        background-color: hsl(0, 0%, 91%);
      }
    }

    &--active {
      background-color: var(--color-background-muted);
      border: 1px solid var(--color-border);
      border-bottom: 1px solid transparent;
      color: var(--color-foreground);
      font-weight: 600;
      pointer-events: none;
      position: relative;
      z-index: 2;
    }
  }

  &__panel {
    background-color: var(--color-background-muted);
    border: 1px solid var(--color-border);
    border-radius: 0 var(--radius-sm) var(--radius-sm) var(--radius-sm);
    padding: var(--spacing-lg) var(--spacing-md);
    z-index: 1;

    @include mq(md) {
      padding: var(--spacing-lg);
    }
  }
}
