@use 'sass:map';

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

@mixin t($name) {
  font-size: var(--#{$name}-font-size);
  font-weight: var(--#{$name}-font-weight);
  line-height: var(--#{$name}-line-height);
}

@mixin mq($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

